
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: meridian;
  src: url("assets/fonts/fs_meridian/Trial_Fonts/FSMeridianTrial-Thin.otf");
  font-weight: 200;
}

@font-face {
  font-family: meridian;
  src: url("assets/fonts/fs_meridian/Trial_Fonts/FSMeridianTrial-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: meridian;
  src: url("assets/fonts/fs_meridian/Trial_Fonts/FSMeridianTrial-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: meridian;
  src: url("assets/fonts/fs_meridian/Trial_Fonts/FSMeridianTrial-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: meridian;
  src: url("assets/fonts/fs_meridian/Trial_Fonts/FSMeridianTrial-Bold.otf");
  font-weight: 600;
}
